In [20]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Practise").getOrCreate()

# Verify Spark session creation
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f5d4be90370>

In [21]:
spark

In [22]:
df_pyspark = spark.read.csv("Placement_Data_Full_Class.csv")

In [23]:
df_pyspark.show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|  _c0|   _c1|  _c2|    _c3|  _c4|    _c5|     _c6|     _c7|      _c8|   _c9|   _c10|          _c11| _c12|      _c13|  _c14|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|    status|salary|
|    1|     M|67.00| Others|91.00| Others|Commerce|   58.00| Sci&Tech|    No|     55|        Mkt&HR| 58.8|    Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|    Placed|200000|
|    3|     M|65.00|Central|68.00|Central|    Arts|   64.00|Comm&Mgmt|    No|     75|       Mkt&Fin| 57.8|    Placed|250000|
|    4|     M|56.00|Central|52.00|Central| Science|   52.00| Sci&Tech|    No|     66|        Mkt&HR|59.43|Not Placed|  NULL|
|    5|     M|85.80|Central|73.60|Central|Commerce|   73.30|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|    Placed|425000|
|    6|     M|55.00| Others|49.80| Others| Science|   67.25| Sci&Tech|   Yes|     55|       Mkt&Fin|51.58|Not Placed|  NULL|
|    7|     F|46.00| Others|49.20| Others|Commerce|   79.00|Comm&Mgmt|    No|  74.28|       Mkt&Fin|53.29|Not Placed|  NULL|
|    8|     M|82.00|Central|64.00|Central| Science|   66.00| Sci&Tech|   Yes|     67|       Mkt&Fin|62.14|    Placed|252000|
|    9|     M|73.00|Central|79.00|Central|Commerce|   72.00|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|    Placed|231000|
|   10|     M|58.00|Central|70.00|Central|Commerce|   61.00|Comm&Mgmt|    No|     54|       Mkt&Fin|52.21|Not Placed|  NULL|
|   11|     M|58.00|Central|61.00|Central|Commerce|   60.00|Comm&Mgmt|   Yes|     62|        Mkt&HR|60.85|    Placed|260000|
|   12|     M|69.60|Central|68.40|Central|Commerce|   78.30|Comm&Mgmt|   Yes|     60|       Mkt&Fin| 63.7|    Placed|250000|
|   13|     F|47.00|Central|55.00| Others| Science|   65.00|Comm&Mgmt|    No|     62|        Mkt&HR|65.04|Not Placed|  NULL|
|   14|     F|77.00|Central|87.00|Central|Commerce|   59.00|Comm&Mgmt|    No|     68|       Mkt&Fin|68.63|    Placed|218000|
|   15|     M|62.00|Central|47.00|Central|Commerce|   50.00|Comm&Mgmt|    No|     76|        Mkt&HR|54.96|Not Placed|  NULL|
|   16|     F|65.00|Central|75.00|Central|Commerce|   69.00|Comm&Mgmt|   Yes|     72|       Mkt&Fin|64.66|    Placed|200000|
|   17|     M|63.00|Central|66.20|Central|Commerce|   65.60|Comm&Mgmt|   Yes|     60|       Mkt&Fin|62.54|    Placed|300000|
|   18|     F|55.00|Central|67.00|Central|Commerce|   64.00|Comm&Mgmt|    No|     60|       Mkt&Fin|67.28|Not Placed|  NULL|
|   19|     F|63.00|Central|66.00|Central|Commerce|   64.00|Comm&Mgmt|    No|     68|        Mkt&HR|64.08|Not Placed|  NULL|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
only showing top 20 rows

In [24]:
df = spark.read.option('header','true').csv('Placement_Data_Full_Class.csv').show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|    status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|    1|     M|67.00| Others|91.00| Others|Commerce|   58.00| Sci&Tech|    No|     55|        Mkt&HR| 58.8|    Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|    Placed|200000|
|    3|     M|65.00|Central|68.00|Central|    Arts|   64.00|Comm&Mgmt|    No|     75|       Mkt&Fin| 57.8|    Placed|250000|
|    4|     M|56.00|Central|52.00|Central| Science|   52.00| Sci&Tech|    No|     66|        Mkt&HR|59.43|Not Placed|  NULL|
|    5|     M|85.80|Central|73.60|Central|Commerce|   73.30|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|    Placed|425000|
|    6|     M|55.00| Others|49.80| Others| Science|   67.25| Sci&Tech|   Yes|     55|       Mkt&Fin|51.58|Not Placed|  NULL|
|    7|     F|46.00| Others|49.20| Others|Commerce|   79.00|Comm&Mgmt|    No|  74.28|       Mkt&Fin|53.29|Not Placed|  NULL|
|    8|     M|82.00|Central|64.00|Central| Science|   66.00| Sci&Tech|   Yes|     67|       Mkt&Fin|62.14|    Placed|252000|
|    9|     M|73.00|Central|79.00|Central|Commerce|   72.00|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|    Placed|231000|
|   10|     M|58.00|Central|70.00|Central|Commerce|   61.00|Comm&Mgmt|    No|     54|       Mkt&Fin|52.21|Not Placed|  NULL|
|   11|     M|58.00|Central|61.00|Central|Commerce|   60.00|Comm&Mgmt|   Yes|     62|        Mkt&HR|60.85|    Placed|260000|
|   12|     M|69.60|Central|68.40|Central|Commerce|   78.30|Comm&Mgmt|   Yes|     60|       Mkt&Fin| 63.7|    Placed|250000|
|   13|     F|47.00|Central|55.00| Others| Science|   65.00|Comm&Mgmt|    No|     62|        Mkt&HR|65.04|Not Placed|  NULL|
|   14|     F|77.00|Central|87.00|Central|Commerce|   59.00|Comm&Mgmt|    No|     68|       Mkt&Fin|68.63|    Placed|218000|
|   15|     M|62.00|Central|47.00|Central|Commerce|   50.00|Comm&Mgmt|    No|     76|        Mkt&HR|54.96|Not Placed|  NULL|
|   16|     F|65.00|Central|75.00|Central|Commerce|   69.00|Comm&Mgmt|   Yes|     72|       Mkt&Fin|64.66|    Placed|200000|
|   17|     M|63.00|Central|66.20|Central|Commerce|   65.60|Comm&Mgmt|   Yes|     60|       Mkt&Fin|62.54|    Placed|300000|
|   18|     F|55.00|Central|67.00|Central|Commerce|   64.00|Comm&Mgmt|    No|     60|       Mkt&Fin|67.28|Not Placed|  NULL|
|   19|     F|63.00|Central|66.00|Central|Commerce|   64.00|Comm&Mgmt|    No|     68|        Mkt&HR|64.08|Not Placed|  NULL|
|   20|     M|60.00| Others|67.00| Others|    Arts|   70.00|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|    Placed|236000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
only showing top 20 rows

In [25]:
type(df)

NoneType

In [26]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)