In [1]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Practise").getOrCreate()

# Verify Spark session creation
print(spark)

your 131072x1 screen size is bogus. expect trouble
24/10/15 15:03:50 WARN Utils: Your hostname, 590-mxl3363mnx resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/10/15 15:03:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/15 15:03:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<pyspark.sql.session.SparkSession object at 0x7f84381a9310>

In [2]:
df_pyspark =  spark.read.csv('Placement_Data_Full_Class.csv',header =True ,inferSchema = True)
df_pyspark.show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|    status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|    Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|    Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|    Placed|250000|
|    4|     M| 56.0|Central| 52.0|Central| Science|    52.0| Sci&Tech|    No|   66.0|        Mkt&HR|59.43|Not Placed|  NULL|
|    5|     M| 85.8|Central| 73.6|Central|Commerce|    73.3|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|    Placed|425000|
|    6|     M| 55.0| Others| 49.8| Others| Science|   67.25| Sci&Tech|   Yes|   55.0|       Mkt&Fin|51.58|Not Placed|  NULL|
|    7|     F| 46.0| Others| 49.2| Others|Commerce|    79.0|Comm&Mgmt|    No|  74.28|       Mkt&Fin|53.29|Not Placed|  NULL|
|    8|     M| 82.0|Central| 64.0|Central| Science|    66.0| Sci&Tech|   Yes|   67.0|       Mkt&Fin|62.14|    Placed|252000|
|    9|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|    Placed|231000|
|   10|     M| 58.0|Central| 70.0|Central|Commerce|    61.0|Comm&Mgmt|    No|   54.0|       Mkt&Fin|52.21|Not Placed|  NULL|
|   11|     M| 58.0|Central| 61.0|Central|Commerce|    60.0|Comm&Mgmt|   Yes|   62.0|        Mkt&HR|60.85|    Placed|260000|
|   12|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|    Placed|250000|
|   13|     F| 47.0|Central| 55.0| Others| Science|    65.0|Comm&Mgmt|    No|   62.0|        Mkt&HR|65.04|Not Placed|  NULL|
|   14|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|    Placed|218000|
|   15|     M| 62.0|Central| 47.0|Central|Commerce|    50.0|Comm&Mgmt|    No|   76.0|        Mkt&HR|54.96|Not Placed|  NULL|
|   16|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|    Placed|200000|
|   17|     M| 63.0|Central| 66.2|Central|Commerce|    65.6|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin|62.54|    Placed|300000|
|   18|     F| 55.0|Central| 67.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   60.0|       Mkt&Fin|67.28|Not Placed|  NULL|
|   19|     F| 63.0|Central| 66.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   68.0|        Mkt&HR|64.08|Not Placed|  NULL|
|   20|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|    Placed|236000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
only showing top 20 rows

Filter Operations

In [3]:
df_pyspark.filter("salary<=250000").show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|
|    9|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|Placed|231000|
|   12|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|Placed|250000|
|   14|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|Placed|218000|
|   16|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|Placed|200000|
|   20|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|Placed|236000|
|   27|     M| 71.0| Others| 79.0| Others|Commerce|    66.0|Comm&Mgmt|   Yes|   94.0|       Mkt&Fin|57.55|Placed|240000|
|   31|     F| 64.0|Central| 73.5|Central|Commerce|    73.0|Comm&Mgmt|    No|   52.0|        Mkt&HR| 56.7|Placed|250000|
|   39|     F| 73.0| Others| 58.0| Others| Science|    66.0|Comm&Mgmt|    No|   53.7|        Mkt&HR|56.86|Placed|240000|
|   45|     F| 77.0| Others| 73.0| Others|Commerce|    81.0|Comm&Mgmt|   Yes|   89.0|       Mkt&Fin| 69.7|Placed|200000|
|   48|     M| 63.0|Central| 60.0|Central|Commerce|    57.0|Comm&Mgmt|   Yes|   78.0|       Mkt&Fin|54.55|Placed|204000|
|   49|     M| 63.0| Others| 62.0| Others|Commerce|    68.0|Comm&Mgmt|    No|   64.0|       Mkt&Fin|62.46|Placed|250000|
|   51|     F| 75.2|Central| 73.2|Central| Science|    68.4|Comm&Mgmt|    No|   65.0|        Mkt&HR|62.98|Placed|200000|
|   55|     F| 74.0|Central| 60.0| Others| Science|    69.0|Comm&Mgmt|    No|   78.0|        Mkt&HR|65.56|Placed|216000|
|   56|     M| 60.4|Central| 66.6| Others| Science|    65.0|Comm&Mgmt|    No|   71.0|        Mkt&HR|52.71|Placed|220000|
|   57|     M| 63.0| Others| 71.4| Others|Commerce|    61.4|Comm&Mgmt|    No|   68.0|       Mkt&Fin|66.88|Placed|240000|
|   63|     F| 86.5| Others| 64.2| Others| Science|    67.4| Sci&Tech|    No|   59.0|       Mkt&Fin|59.69|Placed|240000|
|   65|     M| 80.0| Others| 73.0| Others|Commerce|    75.0|Comm&Mgmt|    No|   61.0|       Mkt&Fin|58.78|Placed|240000|
|   72|     M| 75.0| Others|70.29| Others|Commerce|    71.0|Comm&Mgmt|    No|   95.0|       Mkt&Fin|66.94|Placed|240000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 20 rows

In [5]:
df_pyspark.filter("salary<=250000").select(['sl_no','gender']).show()

+-----+------+
|sl_no|gender|
+-----+------+
|    2|     M|
|    3|     M|
|    9|     M|
|   12|     M|
|   14|     F|
|   16|     F|
|   20|     M|
|   27|     M|
|   31|     F|
|   39|     F|
|   45|     F|
|   48|     M|
|   49|     M|
|   51|     F|
|   55|     F|
|   56|     M|
|   57|     M|
|   63|     F|
|   65|     M|
|   72|     M|
+-----+------+
only showing top 20 rows

In [7]:
df_pyspark.filter((df_pyspark['salary']<=250000) & 
                  (df_pyspark['salary'] >= 200000)).show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|
|    9|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|Placed|231000|
|   12|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|Placed|250000|
|   14|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|Placed|218000|
|   16|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|Placed|200000|
|   20|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|Placed|236000|
|   27|     M| 71.0| Others| 79.0| Others|Commerce|    66.0|Comm&Mgmt|   Yes|   94.0|       Mkt&Fin|57.55|Placed|240000|
|   31|     F| 64.0|Central| 73.5|Central|Commerce|    73.0|Comm&Mgmt|    No|   52.0|        Mkt&HR| 56.7|Placed|250000|
|   39|     F| 73.0| Others| 58.0| Others| Science|    66.0|Comm&Mgmt|    No|   53.7|        Mkt&HR|56.86|Placed|240000|
|   45|     F| 77.0| Others| 73.0| Others|Commerce|    81.0|Comm&Mgmt|   Yes|   89.0|       Mkt&Fin| 69.7|Placed|200000|
|   48|     M| 63.0|Central| 60.0|Central|Commerce|    57.0|Comm&Mgmt|   Yes|   78.0|       Mkt&Fin|54.55|Placed|204000|
|   49|     M| 63.0| Others| 62.0| Others|Commerce|    68.0|Comm&Mgmt|    No|   64.0|       Mkt&Fin|62.46|Placed|250000|
|   51|     F| 75.2|Central| 73.2|Central| Science|    68.4|Comm&Mgmt|    No|   65.0|        Mkt&HR|62.98|Placed|200000|
|   55|     F| 74.0|Central| 60.0| Others| Science|    69.0|Comm&Mgmt|    No|   78.0|        Mkt&HR|65.56|Placed|216000|
|   56|     M| 60.4|Central| 66.6| Others| Science|    65.0|Comm&Mgmt|    No|   71.0|        Mkt&HR|52.71|Placed|220000|
|   57|     M| 63.0| Others| 71.4| Others|Commerce|    61.4|Comm&Mgmt|    No|   68.0|       Mkt&Fin|66.88|Placed|240000|
|   63|     F| 86.5| Others| 64.2| Others| Science|    67.4| Sci&Tech|    No|   59.0|       Mkt&Fin|59.69|Placed|240000|
|   65|     M| 80.0| Others| 73.0| Others|Commerce|    75.0|Comm&Mgmt|    No|   61.0|       Mkt&Fin|58.78|Placed|240000|
|   72|     M| 75.0| Others|70.29| Others|Commerce|    71.0|Comm&Mgmt|    No|   95.0|       Mkt&Fin|66.94|Placed|240000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 20 rows

In [9]:
df_pyspark.filter(~(df_pyspark['salary']<=250000)).show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|
|    5|     M| 85.8|Central| 73.6|Central|Commerce|    73.3|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|Placed|425000|
|    8|     M| 82.0|Central| 64.0|Central| Science|    66.0| Sci&Tech|   Yes|   67.0|       Mkt&Fin|62.14|Placed|252000|
|   11|     M| 58.0|Central| 61.0|Central|Commerce|    60.0|Comm&Mgmt|   Yes|   62.0|        Mkt&HR|60.85|Placed|260000|
|   17|     M| 63.0|Central| 66.2|Central|Commerce|    65.6|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin|62.54|Placed|300000|
|   21|     M| 62.0| Others| 65.0| Others|Commerce|    66.0|Comm&Mgmt|    No|   50.0|        Mkt&HR| 56.7|Placed|265000|
|   22|     F| 79.0| Others| 76.0| Others|Commerce|    85.0|Comm&Mgmt|    No|   95.0|       Mkt&Fin|69.06|Placed|393000|
|   23|     F| 69.8| Others| 60.8| Others| Science|   72.23| Sci&Tech|    No|  55.53|        Mkt&HR|68.81|Placed|360000|
|   24|     F| 77.4| Others| 60.0| Others| Science|   64.74| Sci&Tech|   Yes|   92.0|       Mkt&Fin|63.62|Placed|300000|
|   25|     M| 76.5| Others| 97.7| Others| Science|   78.86| Sci&Tech|    No|   97.4|       Mkt&Fin|74.01|Placed|360000|
|   28|     M| 63.0| Others| 67.0| Others|Commerce|    66.0|Comm&Mgmt|    No|   68.0|        Mkt&HR|57.69|Placed|265000|
|   29|     M|76.76| Others| 76.5| Others|Commerce|    67.5|Comm&Mgmt|   Yes|  73.35|       Mkt&Fin|64.15|Placed|350000|
|   33|     F| 61.0|Central| 81.0|Central|Commerce|    66.4|Comm&Mgmt|    No|  50.89|        Mkt&HR|62.21|Placed|278000|
|   34|     F| 87.0| Others| 65.0| Others| Science|    81.0|Comm&Mgmt|   Yes|   88.0|       Mkt&Fin|72.78|Placed|260000|
|   36|     F| 69.0|Central| 78.0|Central|Commerce|    72.0|Comm&Mgmt|    No|   71.0|        Mkt&HR|62.74|Placed|300000|
|   38|     F| 79.0|Central| 76.0|Central| Science|    65.6| Sci&Tech|    No|   58.0|        Mkt&HR|55.47|Placed|320000|
|   40|     M| 81.0| Others| 68.0| Others| Science|    64.0| Sci&Tech|    No|   93.0|       Mkt&Fin|62.56|Placed|411000|
|   41|     F| 78.0|Central| 77.0| Others|Commerce|    80.0|Comm&Mgmt|    No|   60.0|       Mkt&Fin|66.72|Placed|287000|
|   44|     M| 87.0| Others| 87.0| Others|Commerce|    68.0|Comm&Mgmt|    No|   95.0|        Mkt&HR| 62.9|Placed|300000|
|   54|     M| 80.0| Others| 70.0| Others| Science|    72.0| Sci&Tech|    No|   87.0|        Mkt&HR|71.04|Placed|450000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 20 rows

In [10]:
df_pyspark.groupBy('gender').sum().show()

+------+----------+-----------------+----------+-----------------+------------------+-----------------+-----------+
|gender|sum(sl_no)|       sum(ssc_p)|sum(hsc_p)|    sum(degree_p)|      sum(etest_p)|       sum(mba_p)|sum(salary)|
+------+----------+-----------------+----------+-----------------+------------------+-----------------+-----------+
|     F|      7734|          5191.63|   5065.16|5174.839999999999|5364.8899999999985|4912.910000000001|   12830000|
|     M|     15486|9278.599999999999|   9196.47|9094.750000000004|10136.729999999998|           8476.9|   29891000|
+------+----------+-----------------+----------+-----------------+------------------+-----------------+-----------+

SQL Queries

In [21]:
df_pyspark.registerTempTable('table_1')

/home/karan/miniconda3/envs/spark/lib/python3.9/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [26]:
df_pyspark.createTempView('example')

In [18]:
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [28]:
query = """ select * from table_1"""

In [30]:
query = """ select * from example"""

In [31]:
sqlContext = SQLContext(spark)
df2 = sqlContext.sql(query)
df2.collect()

[Row(sl_no=1, gender='M', ssc_p=67.0, ssc_b='Others', hsc_p=91.0, hsc_b='Others', hsc_s='Commerce', degree_p=58.0, degree_t='Sci&Tech', workex='No', etest_p=55.0, specialisation='Mkt&HR', mba_p=58.8, status='Placed', salary=270000),
 Row(sl_no=2, gender='M', ssc_p=79.33, ssc_b='Central', hsc_p=78.33, hsc_b='Others', hsc_s='Science', degree_p=77.48, degree_t='Sci&Tech', workex='Yes', etest_p=86.5, specialisation='Mkt&Fin', mba_p=66.28, status='Placed', salary=200000),
 Row(sl_no=3, gender='M', ssc_p=65.0, ssc_b='Central', hsc_p=68.0, hsc_b='Central', hsc_s='Arts', degree_p=64.0, degree_t='Comm&Mgmt', workex='No', etest_p=75.0, specialisation='Mkt&Fin', mba_p=57.8, status='Placed', salary=250000),
 Row(sl_no=4, gender='M', ssc_p=56.0, ssc_b='Central', hsc_p=52.0, hsc_b='Central', hsc_s='Science', degree_p=52.0, degree_t='Sci&Tech', workex='No', etest_p=66.0, specialisation='Mkt&HR', mba_p=59.43, status='Not Placed', salary=None),
 Row(sl_no=5, gender='M', ssc_p=85.8, ssc_b='Central', hsc_p=73.6, hsc_b='Central', hsc_s='Commerce', degree_p=73.3, degree_t='Comm&Mgmt', workex='No', etest_p=96.8, specialisation='Mkt&Fin', mba_p=55.5, status='Placed', salary=425000),
 Row(sl_no=6, gender='M', ssc_p=55.0, ssc_b='Others', hsc_p=49.8, hsc_b='Others', hsc_s='Science', degree_p=67.25, degree_t='Sci&Tech', workex='Yes', etest_p=55.0, specialisation='Mkt&Fin', mba_p=51.58, status='Not Placed', salary=None),
 Row(sl_no=7, gender='F', ssc_p=46.0, ssc_b='Others', hsc_p=49.2, hsc_b='Others', hsc_s='Commerce', degree_p=79.0, degree_t='Comm&Mgmt', workex='No', etest_p=74.28, specialisation='Mkt&Fin', mba_p=53.29, status='Not Placed', salary=None),
 Row(sl_no=8, gender='M', ssc_p=82.0, ssc_b='Central', hsc_p=64.0, hsc_b='Central', hsc_s='Science', degree_p=66.0, degree_t='Sci&Tech', workex='Yes', etest_p=67.0, specialisation='Mkt&Fin', mba_p=62.14, status='Placed', salary=252000),
 Row(sl_no=9, gender='M', ssc_p=73.0, ssc_b='Central', hsc_p=79.0, hsc_b='Central', hsc_s='Commerce', degree_p=72.0, degree_t='Comm&Mgmt', workex='No', etest_p=91.34, specialisation='Mkt&Fin', mba_p=61.29, status='Placed', salary=231000),
 Row(sl_no=10, gender='M', ssc_p=58.0, ssc_b='Central', hsc_p=70.0, hsc_b='Central', hsc_s='Commerce', degree_p=61.0, degree_t='Comm&Mgmt', workex='No', etest_p=54.0, specialisation='Mkt&Fin', mba_p=52.21, status='Not Placed', salary=None),
 Row(sl_no=11, gender='M', ssc_p=58.0, ssc_b='Central', hsc_p=61.0, hsc_b='Central', hsc_s='Commerce', degree_p=60.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=62.0, specialisation='Mkt&HR', mba_p=60.85, status='Placed', salary=260000),
 Row(sl_no=12, gender='M', ssc_p=69.6, ssc_b='Central', hsc_p=68.4, hsc_b='Central', hsc_s='Commerce', degree_p=78.3, degree_t='Comm&Mgmt', workex='Yes', etest_p=60.0, specialisation='Mkt&Fin', mba_p=63.7, status='Placed', salary=250000),
 Row(sl_no=13, gender='F', ssc_p=47.0, ssc_b='Central', hsc_p=55.0, hsc_b='Others', hsc_s='Science', degree_p=65.0, degree_t='Comm&Mgmt', workex='No', etest_p=62.0, specialisation='Mkt&HR', mba_p=65.04, status='Not Placed', salary=None),
 Row(sl_no=14, gender='F', ssc_p=77.0, ssc_b='Central', hsc_p=87.0, hsc_b='Central', hsc_s='Commerce', degree_p=59.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.0, specialisation='Mkt&Fin', mba_p=68.63, status='Placed', salary=218000),
 Row(sl_no=15, gender='M', ssc_p=62.0, ssc_b='Central', hsc_p=47.0, hsc_b='Central', hsc_s='Commerce', degree_p=50.0, degree_t='Comm&Mgmt', workex='No', etest_p=76.0, specialisation='Mkt&HR', mba_p=54.96, status='Not Placed', salary=None),
 Row(sl_no=16, gender='F', ssc_p=65.0, ssc_b='Central', hsc_p=75.0, hsc_b='Central', hsc_s='Commerce', degree_p=69.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=72.0, specialisation='Mkt&Fin', mba_p=64.66, status='Placed', salary=200000),
 Row(sl_no=17, gender='M', ssc_p=63.0, ssc_b='Central', hsc_p=66.2, hsc_b='Central', hsc_s='Commerce', degree_p=65.6, degree_t='Comm&Mgmt', workex='Yes', etest_p=60.0, specialisation='Mkt&Fin', mba_p=62.54, status='Placed', salary=300000),
 Row(sl_no=18, gender='F', ssc_p=55.0, ssc_b='Central', hsc_p=67.0, hsc_b='Central', hsc_s='Commerce', degree_p=64.0, degree_t='Comm&Mgmt', workex='No', etest_p=60.0, specialisation='Mkt&Fin', mba_p=67.28, status='Not Placed', salary=None),
 Row(sl_no=19, gender='F', ssc_p=63.0, ssc_b='Central', hsc_p=66.0, hsc_b='Central', hsc_s='Commerce', degree_p=64.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.0, specialisation='Mkt&HR', mba_p=64.08, status='Not Placed', salary=None),
 Row(sl_no=20, gender='M', ssc_p=60.0, ssc_b='Others', hsc_p=67.0, hsc_b='Others', hsc_s='Arts', degree_p=70.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=50.48, specialisation='Mkt&Fin', mba_p=77.89, status='Placed', salary=236000),
 Row(sl_no=21, gender='M', ssc_p=62.0, ssc_b='Others', hsc_p=65.0, hsc_b='Others', hsc_s='Commerce', degree_p=66.0, degree_t='Comm&Mgmt', workex='No', etest_p=50.0, specialisation='Mkt&HR', mba_p=56.7, status='Placed', salary=265000),
 Row(sl_no=22, gender='F', ssc_p=79.0, ssc_b='Others', hsc_p=76.0, hsc_b='Others', hsc_s='Commerce', degree_p=85.0, degree_t='Comm&Mgmt', workex='No', etest_p=95.0, specialisation='Mkt&Fin', mba_p=69.06, status='Placed', salary=393000),
 Row(sl_no=23, gender='F', ssc_p=69.8, ssc_b='Others', hsc_p=60.8, hsc_b='Others', hsc_s='Science', degree_p=72.23, degree_t='Sci&Tech', workex='No', etest_p=55.53, specialisation='Mkt&HR', mba_p=68.81, status='Placed', salary=360000),
 Row(sl_no=24, gender='F', ssc_p=77.4, ssc_b='Others', hsc_p=60.0, hsc_b='Others', hsc_s='Science', degree_p=64.74, degree_t='Sci&Tech', workex='Yes', etest_p=92.0, specialisation='Mkt&Fin', mba_p=63.62, status='Placed', salary=300000),
 Row(sl_no=25, gender='M', ssc_p=76.5, ssc_b='Others', hsc_p=97.7, hsc_b='Others', hsc_s='Science', degree_p=78.86, degree_t='Sci&Tech', workex='No', etest_p=97.4, specialisation='Mkt&Fin', mba_p=74.01, status='Placed', salary=360000),
 Row(sl_no=26, gender='F', ssc_p=52.58, ssc_b='Others', hsc_p=54.6, hsc_b='Central', hsc_s='Commerce', degree_p=50.2, degree_t='Comm&Mgmt', workex='Yes', etest_p=76.0, specialisation='Mkt&Fin', mba_p=65.33, status='Not Placed', salary=None),
 Row(sl_no=27, gender='M', ssc_p=71.0, ssc_b='Others', hsc_p=79.0, hsc_b='Others', hsc_s='Commerce', degree_p=66.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=94.0, specialisation='Mkt&Fin', mba_p=57.55, status='Placed', salary=240000),
 Row(sl_no=28, gender='M', ssc_p=63.0, ssc_b='Others', hsc_p=67.0, hsc_b='Others', hsc_s='Commerce', degree_p=66.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.0, specialisation='Mkt&HR', mba_p=57.69, status='Placed', salary=265000),
 Row(sl_no=29, gender='M', ssc_p=76.76, ssc_b='Others', hsc_p=76.5, hsc_b='Others', hsc_s='Commerce', degree_p=67.5, degree_t='Comm&Mgmt', workex='Yes', etest_p=73.35, specialisation='Mkt&Fin', mba_p=64.15, status='Placed', salary=350000),
 Row(sl_no=30, gender='M', ssc_p=62.0, ssc_b='Central', hsc_p=67.0, hsc_b='Central', hsc_s='Commerce', degree_p=58.0, degree_t='Comm&Mgmt', workex='No', etest_p=77.0, specialisation='Mkt&Fin', mba_p=51.29, status='Not Placed', salary=None),
 Row(sl_no=31, gender='F', ssc_p=64.0, ssc_b='Central', hsc_p=73.5, hsc_b='Central', hsc_s='Commerce', degree_p=73.0, degree_t='Comm&Mgmt', workex='No', etest_p=52.0, specialisation='Mkt&HR', mba_p=56.7, status='Placed', salary=250000),
 Row(sl_no=32, gender='F', ssc_p=67.0, ssc_b='Central', hsc_p=53.0, hsc_b='Central', hsc_s='Science', degree_p=65.0, degree_t='Sci&Tech', workex='No', etest_p=64.0, specialisation='Mkt&HR', mba_p=58.32, status='Not Placed', salary=None),
 Row(sl_no=33, gender='F', ssc_p=61.0, ssc_b='Central', hsc_p=81.0, hsc_b='Central', hsc_s='Commerce', degree_p=66.4, degree_t='Comm&Mgmt', workex='No', etest_p=50.89, specialisation='Mkt&HR', mba_p=62.21, status='Placed', salary=278000),
 Row(sl_no=34, gender='F', ssc_p=87.0, ssc_b='Others', hsc_p=65.0, hsc_b='Others', hsc_s='Science', degree_p=81.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=88.0, specialisation='Mkt&Fin', mba_p=72.78, status='Placed', salary=260000),
 Row(sl_no=35, gender='M', ssc_p=62.0, ssc_b='Others', hsc_p=51.0, hsc_b='Others', hsc_s='Science', degree_p=52.0, degree_t='Others', workex='No', etest_p=68.44, specialisation='Mkt&HR', mba_p=62.77, status='Not Placed', salary=None),
 Row(sl_no=36, gender='F', ssc_p=69.0, ssc_b='Central', hsc_p=78.0, hsc_b='Central', hsc_s='Commerce', degree_p=72.0, degree_t='Comm&Mgmt', workex='No', etest_p=71.0, specialisation='Mkt&HR', mba_p=62.74, status='Placed', salary=300000),
 Row(sl_no=37, gender='M', ssc_p=51.0, ssc_b='Central', hsc_p=44.0, hsc_b='Central', hsc_s='Commerce', degree_p=57.0, degree_t='Comm&Mgmt', workex='No', etest_p=64.0, specialisation='Mkt&Fin', mba_p=51.45, status='Not Placed', salary=None),
 Row(sl_no=38, gender='F', ssc_p=79.0, ssc_b='Central', hsc_p=76.0, hsc_b='Central', hsc_s='Science', degree_p=65.6, degree_t='Sci&Tech', workex='No', etest_p=58.0, specialisation='Mkt&HR', mba_p=55.47, status='Placed', salary=320000),
 Row(sl_no=39, gender='F', ssc_p=73.0, ssc_b='Others', hsc_p=58.0, hsc_b='Others', hsc_s='Science', degree_p=66.0, degree_t='Comm&Mgmt', workex='No', etest_p=53.7, specialisation='Mkt&HR', mba_p=56.86, status='Placed', salary=240000),
 Row(sl_no=40, gender='M', ssc_p=81.0, ssc_b='Others', hsc_p=68.0, hsc_b='Others', hsc_s='Science', degree_p=64.0, degree_t='Sci&Tech', workex='No', etest_p=93.0, specialisation='Mkt&Fin', mba_p=62.56, status='Placed', salary=411000),
 Row(sl_no=41, gender='F', ssc_p=78.0, ssc_b='Central', hsc_p=77.0, hsc_b='Others', hsc_s='Commerce', degree_p=80.0, degree_t='Comm&Mgmt', workex='No', etest_p=60.0, specialisation='Mkt&Fin', mba_p=66.72, status='Placed', salary=287000),
 Row(sl_no=42, gender='F', ssc_p=74.0, ssc_b='Others', hsc_p=63.16, hsc_b='Others', hsc_s='Commerce', degree_p=65.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=65.0, specialisation='Mkt&HR', mba_p=69.76, status='Not Placed', salary=None),
 Row(sl_no=43, gender='M', ssc_p=49.0, ssc_b='Others', hsc_p=39.0, hsc_b='Central', hsc_s='Science', degree_p=65.0, degree_t='Others', workex='No', etest_p=63.0, specialisation='Mkt&Fin', mba_p=51.21, status='Not Placed', salary=None),
 Row(sl_no=44, gender='M', ssc_p=87.0, ssc_b='Others', hsc_p=87.0, hsc_b='Others', hsc_s='Commerce', degree_p=68.0, degree_t='Comm&Mgmt', workex='No', etest_p=95.0, specialisation='Mkt&HR', mba_p=62.9, status='Placed', salary=300000),
 Row(sl_no=45, gender='F', ssc_p=77.0, ssc_b='Others', hsc_p=73.0, hsc_b='Others', hsc_s='Commerce', degree_p=81.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=89.0, specialisation='Mkt&Fin', mba_p=69.7, status='Placed', salary=200000),
 Row(sl_no=46, gender='F', ssc_p=76.0, ssc_b='Central', hsc_p=64.0, hsc_b='Central', hsc_s='Science', degree_p=72.0, degree_t='Sci&Tech', workex='No', etest_p=58.0, specialisation='Mkt&HR', mba_p=66.53, status='Not Placed', salary=None),
 Row(sl_no=47, gender='F', ssc_p=70.89, ssc_b='Others', hsc_p=71.98, hsc_b='Others', hsc_s='Science', degree_p=65.6, degree_t='Comm&Mgmt', workex='No', etest_p=68.0, specialisation='Mkt&HR', mba_p=71.63, status='Not Placed', salary=None),
 Row(sl_no=48, gender='M', ssc_p=63.0, ssc_b='Central', hsc_p=60.0, hsc_b='Central', hsc_s='Commerce', degree_p=57.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=78.0, specialisation='Mkt&Fin', mba_p=54.55, status='Placed', salary=204000),
 Row(sl_no=49, gender='M', ssc_p=63.0, ssc_b='Others', hsc_p=62.0, hsc_b='Others', hsc_s='Commerce', degree_p=68.0, degree_t='Comm&Mgmt', workex='No', etest_p=64.0, specialisation='Mkt&Fin', mba_p=62.46, status='Placed', salary=250000),
 Row(sl_no=50, gender='F', ssc_p=50.0, ssc_b='Others', hsc_p=37.0, hsc_b='Others', hsc_s='Arts', degree_p=52.0, degree_t='Others', workex='No', etest_p=65.0, specialisation='Mkt&HR', mba_p=56.11, status='Not Placed', salary=None),
 Row(sl_no=51, gender='F', ssc_p=75.2, ssc_b='Central', hsc_p=73.2, hsc_b='Central', hsc_s='Science', degree_p=68.4, degree_t='Comm&Mgmt', workex='No', etest_p=65.0, specialisation='Mkt&HR', mba_p=62.98, status='Placed', salary=200000),
 Row(sl_no=52, gender='M', ssc_p=54.4, ssc_b='Central', hsc_p=61.12, hsc_b='Central', hsc_s='Commerce', degree_p=56.2, degree_t='Comm&Mgmt', workex='No', etest_p=67.0, specialisation='Mkt&HR', mba_p=62.65, status='Not Placed', salary=None),
 Row(sl_no=53, gender='F', ssc_p=40.89, ssc_b='Others', hsc_p=45.83, hsc_b='Others', hsc_s='Commerce', degree_p=53.0, degree_t='Comm&Mgmt', workex='No', etest_p=71.2, specialisation='Mkt&HR', mba_p=65.49, status='Not Placed', salary=None),
 Row(sl_no=54, gender='M', ssc_p=80.0, ssc_b='Others', hsc_p=70.0, hsc_b='Others', hsc_s='Science', degree_p=72.0, degree_t='Sci&Tech', workex='No', etest_p=87.0, specialisation='Mkt&HR', mba_p=71.04, status='Placed', salary=450000),
 Row(sl_no=55, gender='F', ssc_p=74.0, ssc_b='Central', hsc_p=60.0, hsc_b='Others', hsc_s='Science', degree_p=69.0, degree_t='Comm&Mgmt', workex='No', etest_p=78.0, specialisation='Mkt&HR', mba_p=65.56, status='Placed', salary=216000),
 Row(sl_no=56, gender='M', ssc_p=60.4, ssc_b='Central', hsc_p=66.6, hsc_b='Others', hsc_s='Science', degree_p=65.0, degree_t='Comm&Mgmt', workex='No', etest_p=71.0, specialisation='Mkt&HR', mba_p=52.71, status='Placed', salary=220000),
 Row(sl_no=57, gender='M', ssc_p=63.0, ssc_b='Others', hsc_p=71.4, hsc_b='Others', hsc_s='Commerce', degree_p=61.4, degree_t='Comm&Mgmt', workex='No', etest_p=68.0, specialisation='Mkt&Fin', mba_p=66.88, status='Placed', salary=240000),
 Row(sl_no=58, gender='M', ssc_p=68.0, ssc_b='Central', hsc_p=76.0, hsc_b='Central', hsc_s='Commerce', degree_p=74.0, degree_t='Comm&Mgmt', workex='No', etest_p=80.0, specialisation='Mkt&Fin', mba_p=63.59, status='Placed', salary=360000),
 Row(sl_no=59, gender='M', ssc_p=74.0, ssc_b='Central', hsc_p=62.0, hsc_b='Others', hsc_s='Science', degree_p=68.0, degree_t='Comm&Mgmt', workex='No', etest_p=74.0, specialisation='Mkt&Fin', mba_p=57.99, status='Placed', salary=268000),
 Row(sl_no=60, gender='M', ssc_p=52.6, ssc_b='Central', hsc_p=65.58, hsc_b='Others', hsc_s='Science', degree_p=72.11, degree_t='Sci&Tech', workex='No', etest_p=57.6, specialisation='Mkt&Fin', mba_p=56.66, status='Placed', salary=265000),
 Row(sl_no=61, gender='M', ssc_p=74.0, ssc_b='Central', hsc_p=70.0, hsc_b='Central', hsc_s='Science', degree_p=72.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=60.0, specialisation='Mkt&Fin', mba_p=57.24, status='Placed', salary=260000),
 Row(sl_no=62, gender='M', ssc_p=84.2, ssc_b='Central', hsc_p=73.4, hsc_b='Central', hsc_s='Commerce', degree_p=66.89, degree_t='Comm&Mgmt', workex='No', etest_p=61.6, specialisation='Mkt&Fin', mba_p=62.48, status='Placed', salary=300000),
 Row(sl_no=63, gender='F', ssc_p=86.5, ssc_b='Others', hsc_p=64.2, hsc_b='Others', hsc_s='Science', degree_p=67.4, degree_t='Sci&Tech', workex='No', etest_p=59.0, specialisation='Mkt&Fin', mba_p=59.69, status='Placed', salary=240000),
 Row(sl_no=64, gender='M', ssc_p=61.0, ssc_b='Others', hsc_p=70.0, hsc_b='Others', hsc_s='Commerce', degree_p=64.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.5, specialisation='Mkt&HR', mba_p=59.5, status='Not Placed', salary=None),
 Row(sl_no=65, gender='M', ssc_p=80.0, ssc_b='Others', hsc_p=73.0, hsc_b='Others', hsc_s='Commerce', degree_p=75.0, degree_t='Comm&Mgmt', workex='No', etest_p=61.0, specialisation='Mkt&Fin', mba_p=58.78, status='Placed', salary=240000),
 Row(sl_no=66, gender='M', ssc_p=54.0, ssc_b='Others', hsc_p=47.0, hsc_b='Others', hsc_s='Science', degree_p=57.0, degree_t='Comm&Mgmt', workex='No', etest_p=89.69, specialisation='Mkt&HR', mba_p=57.1, status='Not Placed', salary=None),
 Row(sl_no=67, gender='M', ssc_p=83.0, ssc_b='Others', hsc_p=74.0, hsc_b='Others', hsc_s='Science', degree_p=66.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.92, specialisation='Mkt&HR', mba_p=58.46, status='Placed', salary=275000),
 Row(sl_no=68, gender='M', ssc_p=80.92, ssc_b='Others', hsc_p=78.5, hsc_b='Others', hsc_s='Commerce', degree_p=67.0, degree_t='Comm&Mgmt', workex='No', etest_p=68.71, specialisation='Mkt&Fin', mba_p=60.99, status='Placed', salary=275000),
 Row(sl_no=69, gender='F', ssc_p=69.7, ssc_b='Central', hsc_p=47.0, hsc_b='Central', hsc_s='Commerce', degree_p=72.7, degree_t='Sci&Tech', workex='No', etest_p=79.0, specialisation='Mkt&HR', mba_p=59.24, status='Not Placed', salary=None),
 Row(sl_no=70, gender='M', ssc_p=73.0, ssc_b='Central', hsc_p=73.0, hsc_b='Central', hsc_s='Science', degree_p=66.0, degree_t='Sci&Tech', workex='Yes', etest_p=70.0, specialisation='Mkt&Fin', mba_p=68.07, status='Placed', salary=275000),
 Row(sl_no=71, gender='M', ssc_p=82.0, ssc_b='Others', hsc_p=61.0, hsc_b='Others', hsc_s='Science', degree_p=62.0, degree_t='Sci&Tech', workex='No', etest_p=89.0, specialisation='Mkt&Fin', mba_p=65.45, status='Placed', salary=360000),
 Row(sl_no=72, gender='M', ssc_p=75.0, ssc_b='Others', hsc_p=70.29, hsc_b='Others', hsc_s='Commerce', degree_p=71.0, degree_t='Comm&Mgmt', workex='No', etest_p=95.0, specialisation='Mkt&Fin', mba_p=66.94, status='Placed', salary=240000),
 Row(sl_no=73, gender='M', ssc_p=84.86, ssc_b='Others', hsc_p=67.0, hsc_b='Others', hsc_s='Science', degree_p=78.0, degree_t='Comm&Mgmt', workex='No', etest_p=95.5, specialisation='Mkt&Fin', mba_p=68.53, status='Placed', salary=240000),
 Row(sl_no=74, gender='M', ssc_p=64.6, ssc_b='Central', hsc_p=83.83, hsc_b='Others', hsc_s='Commerce', degree_p=71.72, degree_t='Comm&Mgmt', workex='No', etest_p=86.0, specialisation='Mkt&Fin', mba_p=59.75, status='Placed', salary=218000),
 Row(sl_no=75, gender='M', ssc_p=56.6, ssc_b='Central', hsc_p=64.8, hsc_b='Central', hsc_s='Commerce', degree_p=70.2, degree_t='Comm&Mgmt', workex='No', etest_p=84.27, specialisation='Mkt&Fin', mba_p=67.2, status='Placed', salary=336000),
 Row(sl_no=76, gender='F', ssc_p=59.0, ssc_b='Central', hsc_p=62.0, hsc_b='Others', hsc_s='Commerce', degree_p=77.5, degree_t='Comm&Mgmt', workex='No', etest_p=74.0, specialisation='Mkt&HR', mba_p=67.0, status='Not Placed', salary=None),
 Row(sl_no=77, gender='F', ssc_p=66.5, ssc_b='Others', hsc_p=70.4, hsc_b='Central', hsc_s='Arts', degree_p=71.93, degree_t='Comm&Mgmt', workex='No', etest_p=61.0, specialisation='Mkt&Fin', mba_p=64.27, status='Placed', salary=230000),
 Row(sl_no=78, gender='M', ssc_p=64.0, ssc_b='Others', hsc_p=80.0, hsc_b='Others', hsc_s='Science', degree_p=65.0, degree_t='Sci&Tech', workex='Yes', etest_p=69.0, specialisation='Mkt&Fin', mba_p=57.65, status='Placed', salary=500000),
 Row(sl_no=79, gender='M', ssc_p=84.0, ssc_b='Others', hsc_p=90.9, hsc_b='Others', hsc_s='Science', degree_p=64.5, degree_t='Sci&Tech', workex='No', etest_p=86.04, specialisation='Mkt&Fin', mba_p=59.42, status='Placed', salary=270000),
 Row(sl_no=80, gender='F', ssc_p=69.0, ssc_b='Central', hsc_p=62.0, hsc_b='Central', hsc_s='Science', degree_p=66.0, degree_t='Sci&Tech', workex='No', etest_p=75.0, specialisation='Mkt&HR', mba_p=67.99, status='Not Placed', salary=None),
 Row(sl_no=81, gender='F', ssc_p=69.0, ssc_b='Others', hsc_p=62.0, hsc_b='Others', hsc_s='Commerce', degree_p=69.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=67.0, specialisation='Mkt&HR', mba_p=62.35, status='Placed', salary=240000),
 Row(sl_no=82, gender='M', ssc_p=81.7, ssc_b='Others', hsc_p=63.0, hsc_b='Others', hsc_s='Science', degree_p=67.0, degree_t='Comm&Mgmt', workex='Yes', etest_p=86.0, specialisation='Mkt&Fin', mba_p=70.2, status='Placed', salary=300000),
 Row(sl_no=83, gender='M', ssc_p=63.0, ssc_b='Central', hsc_p=67.0, hsc_b='Central', hsc_s='Commerce', degree_p=74.0, degree_t='Comm&Mgmt', workex='No', etest_p=82.0, specialisation='Mkt&Fin', mba_p=60.44, status='Not Placed', salary=None),
 Row(sl_no=84, gender='M', ssc_p=84.0, ssc_b='Others', hsc_p=79.0, hsc_b='Others', hsc_s='Science', degree_p=68.0, degree_t='Sci&Tech', workex='Yes', etest_p=84.0, specialisation='Mkt&Fin', mba_p=66.69, status='Placed', salary=300000),