Create SparkSession

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Practise").getOrCreate()

# Verify Spark session creation
print(spark)

Read data from CSV

In [6]:
df = spark.read.option('header','true').csv('Placement_Data_Full_Class.csv',inferSchema=True)

In [7]:
df.printSchema()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- ssc_b: string (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- hsc_b: string (nullable = true)
 |-- hsc_s: string (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- degree_t: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- etest_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
df1 = spark.read.option('header','true').csv('Placement_Data_Full_Class.csv',inferSchema=True).show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|    status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|    Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|    Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|    Placed|250000|
|    4|     M| 56.0|Central| 52.0|Central| Science|    52.0| Sci&Tech|    No|   66.0|        Mkt&HR|59.43|Not Placed|  NULL|
|    5|     M| 85.8|Central| 73.6|Central|Commerce|    73.3|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|    Placed|425000|
|    6|     M| 55.0| Others| 49.8| Others| Science|   67.25| Sci&Tech|   Yes|   55.0|       Mkt&Fin|51.58|Not Placed|  NULL|
|    7|     F| 46.0| Others| 49.2| Others|Commerce|    79.0|Comm&Mgmt|    No|  74.28|       Mkt&Fin|53.29|Not Placed|  NULL|
|    8|     M| 82.0|Central| 64.0|Central| Science|    66.0| Sci&Tech|   Yes|   67.0|       Mkt&Fin|62.14|    Placed|252000|
|    9|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|    Placed|231000|
|   10|     M| 58.0|Central| 70.0|Central|Commerce|    61.0|Comm&Mgmt|    No|   54.0|       Mkt&Fin|52.21|Not Placed|  NULL|
|   11|     M| 58.0|Central| 61.0|Central|Commerce|    60.0|Comm&Mgmt|   Yes|   62.0|        Mkt&HR|60.85|    Placed|260000|
|   12|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|    Placed|250000|
|   13|     F| 47.0|Central| 55.0| Others| Science|    65.0|Comm&Mgmt|    No|   62.0|        Mkt&HR|65.04|Not Placed|  NULL|
|   14|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|    Placed|218000|
|   15|     M| 62.0|Central| 47.0|Central|Commerce|    50.0|Comm&Mgmt|    No|   76.0|        Mkt&HR|54.96|Not Placed|  NULL|
|   16|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|    Placed|200000|
|   17|     M| 63.0|Central| 66.2|Central|Commerce|    65.6|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin|62.54|    Placed|300000|
|   18|     F| 55.0|Central| 67.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   60.0|       Mkt&Fin|67.28|Not Placed|  NULL|
|   19|     F| 63.0|Central| 66.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   68.0|        Mkt&HR|64.08|Not Placed|  NULL|
|   20|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|    Placed|236000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
only showing top 20 rows

header = True and inferSchema =True (show the datatypes)

In [11]:
df_pyspark =  spark.read.csv('Placement_Data_Full_Class.csv',header =True ,inferSchema = True)
df_pyspark.show()

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|    status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|    Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|    Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|    Placed|250000|
|    4|     M| 56.0|Central| 52.0|Central| Science|    52.0| Sci&Tech|    No|   66.0|        Mkt&HR|59.43|Not Placed|  NULL|
|    5|     M| 85.8|Central| 73.6|Central|Commerce|    73.3|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|    Placed|425000|
|    6|     M| 55.0| Others| 49.8| Others| Science|   67.25| Sci&Tech|   Yes|   55.0|       Mkt&Fin|51.58|Not Placed|  NULL|
|    7|     F| 46.0| Others| 49.2| Others|Commerce|    79.0|Comm&Mgmt|    No|  74.28|       Mkt&Fin|53.29|Not Placed|  NULL|
|    8|     M| 82.0|Central| 64.0|Central| Science|    66.0| Sci&Tech|   Yes|   67.0|       Mkt&Fin|62.14|    Placed|252000|
|    9|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|    Placed|231000|
|   10|     M| 58.0|Central| 70.0|Central|Commerce|    61.0|Comm&Mgmt|    No|   54.0|       Mkt&Fin|52.21|Not Placed|  NULL|
|   11|     M| 58.0|Central| 61.0|Central|Commerce|    60.0|Comm&Mgmt|   Yes|   62.0|        Mkt&HR|60.85|    Placed|260000|
|   12|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|    Placed|250000|
|   13|     F| 47.0|Central| 55.0| Others| Science|    65.0|Comm&Mgmt|    No|   62.0|        Mkt&HR|65.04|Not Placed|  NULL|
|   14|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|    Placed|218000|
|   15|     M| 62.0|Central| 47.0|Central|Commerce|    50.0|Comm&Mgmt|    No|   76.0|        Mkt&HR|54.96|Not Placed|  NULL|
|   16|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|    Placed|200000|
|   17|     M| 63.0|Central| 66.2|Central|Commerce|    65.6|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin|62.54|    Placed|300000|
|   18|     F| 55.0|Central| 67.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   60.0|       Mkt&Fin|67.28|Not Placed|  NULL|
|   19|     F| 63.0|Central| 66.0|Central|Commerce|    64.0|Comm&Mgmt|    No|   68.0|        Mkt&HR|64.08|Not Placed|  NULL|
|   20|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|    Placed|236000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+----------+------+
only showing top 20 rows

Check Schema

In [12]:
df_pyspark.printSchema()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- ssc_b: string (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- hsc_b: string (nullable = true)
 |-- hsc_s: string (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- degree_t: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- etest_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

Checking the Type (equivalent to .info)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.columns

['sl_no',
 'gender',
 'ssc_p',
 'ssc_b',
 'hsc_p',
 'hsc_b',
 'hsc_s',
 'degree_p',
 'degree_t',
 'workex',
 'etest_p',
 'specialisation',
 'mba_p',
 'status',
 'salary']

In [15]:
df_pyspark.head(3)

[Row(sl_no=1, gender='M', ssc_p=67.0, ssc_b='Others', hsc_p=91.0, hsc_b='Others', hsc_s='Commerce', degree_p=58.0, degree_t='Sci&Tech', workex='No', etest_p=55.0, specialisation='Mkt&HR', mba_p=58.8, status='Placed', salary=270000),
 Row(sl_no=2, gender='M', ssc_p=79.33, ssc_b='Central', hsc_p=78.33, hsc_b='Others', hsc_s='Science', degree_p=77.48, degree_t='Sci&Tech', workex='Yes', etest_p=86.5, specialisation='Mkt&Fin', mba_p=66.28, status='Placed', salary=200000),
 Row(sl_no=3, gender='M', ssc_p=65.0, ssc_b='Central', hsc_p=68.0, hsc_b='Central', hsc_s='Arts', degree_p=64.0, degree_t='Comm&Mgmt', workex='No', etest_p=75.0, specialisation='Mkt&Fin', mba_p=57.8, status='Placed', salary=250000)]

Select a single column

In [26]:
df_pyspark.select('hsc_p').show(2)

+-----+
|hsc_p|
+-----+
| 91.0|
|78.33|
+-----+
only showing top 2 rows

Multiple columns

In [22]:
df_pyspark.select(['hsc_p','gender']).show(3)

+-----+------+
|hsc_p|gender|
+-----+------+
| 91.0|     M|
|78.33|     M|
| 68.0|     M|
+-----+------+
only showing top 3 rows

In [23]:
df_pyspark.dtypes

[('sl_no', 'int'),
 ('gender', 'string'),
 ('ssc_p', 'double'),
 ('ssc_b', 'string'),
 ('hsc_p', 'double'),
 ('hsc_b', 'string'),
 ('hsc_s', 'string'),
 ('degree_p', 'double'),
 ('degree_t', 'string'),
 ('workex', 'string'),
 ('etest_p', 'double'),
 ('specialisation', 'string'),
 ('mba_p', 'double'),
 ('status', 'string'),
 ('salary', 'int')]

Describe similar to Pandas

In [25]:
df_pyspark.describe().show(3)

24/10/14 11:07:24 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------+------------------+-----+------------------+-----+-----+-----------------+--------+------+------------------+--------------+------------------+------+-----------------+
|summary|            sl_no|gender|             ssc_p|ssc_b|             hsc_p|hsc_b|hsc_s|         degree_p|degree_t|workex|           etest_p|specialisation|             mba_p|status|           salary|
+-------+-----------------+------+------------------+-----+------------------+-----+-----+-----------------+--------+------+------------------+--------------+------------------+------+-----------------+
|  count|              215|   215|               215|  215|               215|  215|  215|              215|     215|   215|               215|           215|               215|   215|              148|
|   mean|            108.0|  NULL|  67.3033953488372| NULL| 66.33316279069766| NULL| NULL|66.37018604651163|    NULL|  NULL| 72.10055813953488|          NULL|62.278186046511586|  NULL|288655.4054054054|
| stddev|62.20932405998316|  NULL|10.827205398231456| NULL|10.897509157502983| NULL| NULL|7.358743287339444|    NULL|  NULL|13.275956401653826|          NULL| 5.833384580683803|  NULL|93457.45241958876|
+-------+-----------------+------+------------------+-----+------------------+-----+-----+-----------------+--------+------+------------------+--------------+------------------+------+-----------------+
only showing top 3 rows

Adding Columns

In [28]:
df_pyspark.withColumn('Experience After 2 Years',df_pyspark['hsc_p']+2).show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|Experience After 2 Years|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|                    93.0|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|                   80.33|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|                    70.0|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+
only showing top 3 rows

Adding Multiple Columns

In [42]:
a = df_pyspark.withColumn('Experience After 2 Years',df_pyspark['hsc_p']+2)\
    .withColumn('Experience After 3 Years',df_pyspark['hsc_p']+3)
    
a.show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+------------------------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|Experience After 2 Years|Experience After 3 Years|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+------------------------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|                    93.0|                    94.0|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|                   80.33|                   81.33|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|                    70.0|                    71.0|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+------------------------+------------------------+
only showing top 3 rows

Drop Columns

In [34]:
df_pyspark.drop('Experience After 2 Years').show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 3 rows

* for multiple columns

In [37]:
df_pyspark.drop(*['Experience After 2 Years','salary']).show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
only showing top 3 rows

In [44]:
df_pyspark.drop('Experience After 2 Years')\
    .drop('salary').show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
|sl_no|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+
only showing top 3 rows

Rename the columns

In [36]:
df_pyspark.withColumnRenamed('gender','Gender').show(3)

+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|sl_no|Gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|    1|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|
|    2|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|
|    3|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|
+-----+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 3 rows